* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --background-color: #e3f9ff;
    --primary-color: #3a4452;
    --secondary-color: #00d1ab;
}

body {

    .container {
        width: 100%;
        height: 100vh;
        /* background: var(--background-color); */
        background: url("images/background-3.jpe") no-repeat center center/cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator {
        /* background: var(--primary-color); */
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
        border: 3px solid rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px);
        padding: 20px;
        border-radius: 10px;

        form input {
            border: 0;
            outline: 0;
            width: 60px;
            height: 60px;
            border-radius: 10px;
            box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.3);
            background: transparent;
            font-size: 24px;
            font-weight: 800;
            color: var(--text-color);
            cursor: pointer;
            margin: 10px;
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
        }

        form .display {
            display: flex;
            justify-content: flex-end;
            margin: 20px 0;
        }

        form .display input {
            text-align: right;
            flex: 1;
            font-size: 45px;
            box-shadow: none;
        }

        form input.equal {
            width: 145px;
        }

        form input.operator {
            color: var(--secondary-color);
            /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); */
        }
    }
}